version: "3"
services:
  mysql:
    container_name: e-commerceplatform_db-data
    image: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=$DB_PASSWORD
      - MYSQL_DATABASE=e-commerce
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

  app:
    profiles:
      - in_docker
    container_name: e-commerceplatform-express-1
    build: .
    environment:
      - PORT=80
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=$DB_PASSWORD
      - DB_NAME=e-commerce
    ports:
      - "5000:80"
    depends_on:
      mysql:
        condition: service_healthy

volumes:
  db-data: